:root {
  --white: #fff;
  --black: #000;
  --gray: #919191;
  --gray-3: #ccc;
  --space: 20px;
  --border-radius: 10px;
  --main: #2c95d0;
  --main-second: #0055b8;

  --main-tercero: #44b4db;

  --hr {
    border: 0.1px solid;
    color: red;
  }
}
